$color-gray-primary: #f8f9fa;
$color-gray-secondary: #ced4da;

$color-primary: #63e6be;
$color-secondary-dark: #343a40;
$color-secondary-light: #495057;

$margin-big: 8rem;
$margin-medium: 4rem;
$margin-small: 2rem;

//General Reset
* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
}

body {
  //   font-family: "Inter", sans-serif;
  font-family: "Nunito", sans-serif;
  background-color: $color-primary;
}

//styling the header
.header {
  background-color: $color-secondary-dark;
  color: $color-gray-primary;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 7rem;
  padding-bottom: $margin-big;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__container-1 {
  padding: 2rem 0;
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $margin-big;

  border-bottom: 1px solid $color-gray-primary;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;

  &--main {
    margin-bottom: $margin-small;
  }

  &--small {
    line-height: 2;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: $color-primary;

    &--top {
      margin-left: 7rem;
    }
    &--center {
      text-align: center;
    }

    &--no-margin {
      margin-bottom: 0 !important;
      padding: 0 !important;
      font-size: 2rem;
      // background-color: yellow;
    }
  }
  &--small-experience {
    padding-left: 0;
  }
  &--holiday {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin-bottom: $margin-medium;
  }

  &--green {
    color: $color-primary;
  }
  // &:last-of-type {
  //   margin-bottom: $margin-medium;
  //   padding: 0 7rem;
  // }
}

.heading-secondary {
  color: $color-gray-primary;
  font-size: 2.4rem;
  line-height: 1.15;
  // white-space: nowrap;
  &--big {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: $margin-small;
  }
  &--review {
    white-space: nowrap;
    font-size: 1.8rem;
  }
}

.heading-tertiary {
  text-transform: capitalize;
  font-size: 1.9rem;
  margin: 1rem 0;
  color: $color-gray-primary;
  letter-spacing: 1px;

  &--medium {
    letter-spacing: none;
    font-size: 1.6rem;
    font-weight: 800;
    white-space: nowrap;
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left,
  &__right {
    min-width: 8.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $color-secondary-light;
    color: #fff;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s;

    &--active {
      background-color: $color-primary;
      color: $color-secondary-dark;
      font-size: 2rem;
      // white-space: nowrap;
      box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.7);
      &:hover {
        background-color: darken($color-primary, 20) !important;
      }
    }

    &:hover {
      background-color: $color-secondary-dark;
      box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.7);
    }
  }
}
.heading-text {
  font-size: 1.2rem;
  width: 50rem;
  line-height: 1.5;
  color: $color-gray-secondary;
  margin-bottom: $margin-medium;
}

.form-head {
  background-image: linear-gradient(
    to bottom right,
    $color-secondary-light,
    $color-secondary-dark
  );
  border-left: 0.2rem solid $color-primary;
  box-shadow: 0.5rem 0.1rem 3rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
  width: 25rem;

  &__group {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;

    &:first-of-type {
      &::after {
        content: "";
        position: absolute;
        right: -50%;
        top: 50%;
        width: 0.2rem;
        border-radius: 1rem;
        height: 60%;
        background-color: $color-secondary-dark;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__label {
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-gray-secondary;
  }
  &__select {
    background-color: transparent;
    color: $color-gray-primary;
    font-size: 1.2rem;
    border: none;
    font-family: inherit;
    outline: none;
  }
}

.logo-box {
  font-size: 1.7rem;
}

.logo {
  color: $color-gray-primary;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   background-color: #fff;
  flex-basis: 50rem;
  font-size: 1.4rem;

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      padding: 0.7rem 2rem;
      white-space: nowrap;
      color: $color-gray-primary;
    }

    &--styled {
      &:link,
      &:visited {
        background-color: $color-primary;
        border-radius: 1rem;
        font-weight: 700;
        color: $color-secondary-light;
      }
    }
  }
}
.header__container-2 {
  grid-column: 1/3;
  width: 60rem;
}

.image-container {
  &::after {
    content: "";
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    transform: rotate(5deg);
    background-image: linear-gradient(
      $color-secondary-light,
      $color-secondary-dark
    );
    box-shadow: -1.7rem 1.7rem 3rem rgba(0, 0, 0, 0.5);
    z-index: -200;
    position: absolute;
    left: 4rem;
  }

  .image-circle {
    position: absolute;
    z-index: 30000;
    width: 2rem;
    height: 2rem;

    border-radius: 50%;
    background-color: $color-secondary-dark;
    top: 1rem;

    &:nth-of-type(4) {
      background-color: lighten($color-primary, 15);
      left: 10rem;
      width: 1.5rem;
      height: 1.5rem;
    }
    &:nth-of-type(2) {
      background-color: lighten($color-primary, 15);
      top: 20rem;
      width: 4.5rem;
      height: 4.5rem;
      right: -2rem;
    }
    &:nth-of-type(3) {
      background-color: lighten($color-primary, 15);
      top: 2rem;
      right: 0;
    }
  }

  position: relative;
  z-index: 1;
  background-color: $color-primary;
  box-shadow: inset -0.5rem 0.7rem 3rem rgba(0, 0, 0, 0.5);
  grid-column: 3/4;
  transform: rotate(-5deg);
  border-radius: 1rem;
  font-size: 1rem;
  height: 46rem;

  position: relative;

  img {
    width: 39rem;
    // margin-bottom: 5rem;
    margin-left: 3rem;

    position: relative;
    top: -1rem;
  }
}

.main {
  // height: 400px;
  background-color: $color-secondary-dark;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 0;
}

.destination {
  width: 100%;
  padding-bottom: $margin-medium;
  padding: 0 7rem;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $margin-medium;
    list-style: none;
  }

  &__item {
    overflow: hidden;

    &--active {
      background-color: $color-secondary-light;
      padding: 2rem;
      border-radius: 1rem;
    }
  }
  &__photo {
    width: 32rem;
    border-radius: 2rem;

    &:not(:last-child) {
      // padding-right: 2rem;
    }
  }
  &__location {
    display: block;
    font-size: 1.3rem;
    color: $color-gray-secondary;
    margin-bottom: $margin-small;
  }

  &__price {
    color: $color-gray-secondary;
    text-transform: capitalize;
    font-size: 1.4rem;
    &--symbol {
      color: $color-primary;
      font-size: 2rem;
      font-weight: 700;
    }
    &--figure {
      color: $color-gray-primary;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
.holiday {
  background-color: $color-secondary-light;
  margin-top: $margin-small;
  padding: 7rem 0;

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 10rem;
  }

  &__item {
  }

  &__item:nth-of-type(even) {
    margin-top: 20rem;
  }

  &__desc {
    text-align: center;
    font-size: 1.4rem;
    margin-top: -2rem;
    color: $color-gray-secondary;
  }
  &__icon {
    width: 6rem;

    font-size: 2rem;

    fill: $color-primary;
    stroke: $color-primary;
  }
  &__image-box {
    background-color: $color-secondary-dark;
    border-radius: 60%;
    padding: 1.5rem;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &__text {
    font-size: 1.3rem;
    color: $color-gray-secondary;
  }
}

.experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;

  align-items: center;
  padding: 10rem 13rem 0 15rem;
  margin-bottom: 10rem;

  &__details {
  }
  &__item {
    // background-color: #fff;
    margin-right: 1rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
  &__image-box {
    background-color: $color-primary;
    padding: 8rem 8rem 0 8rem;
    border-radius: 5rem 5rem 0 0;
    margin-top: $margin-medium;
  }
  &__photo {
    width: 22rem;
    margin-top: -15rem;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    margin-bottom: 1rem;
    color: $color-gray-secondary;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  &__desc {
    color: $color-gray-secondary;
    font-size: 1.3rem;
    width: 5rem;
  }
}

.customer {
  padding: 0 7rem;
  padding-bottom: 3rem;
  margin-top: $margin-big;
}

.review {
  &__item {
    padding: 2rem;
    border-radius: 1rem;

    &--active {
      background-color: $color-secondary-light;
    }
  }
  &__list {
    display: flex;
    gap: 9rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 10rem;
  }
  &__text {
    margin-top: $margin-small;
    color: $color-gray-secondary;
    font-size: 1.4rem;
    line-height: 1.5;
  }

  &__name {
    font-size: 1.2rem;
    color: $color-gray-primary;
    font-style: italic;
    font-weight: 800;
    width: fit-content;
    margin: 2rem 0 0 0;
  }
}
.footer {
  background-color: rgba(0, 128, 0, 0.33);
  padding: 7rem 7rem;
  max-width: 120rem;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 4rem;

  .heading-primary {
    margin-bottom: $margin-medium;
    color: $color-secondary-dark;
  }

  &__desc {
    font-size: 1.4rem;
    margin-top: $margin-small;
    color: $color-secondary-light;
  }
}

.social {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-top: $margin-big;

  &__item {
  }
  &__link {
    color: $color-secondary-dark;
    text-decoration: none;
    font-size: 1.3rem;
  }
}

.sitemap {
  &__list {
    list-style: none;
  }
  &__item {
    margin-bottom: 1rem;
  }
  &__link {
    text-decoration: none;
    color: $color-secondary-light;
    font-size: 1.4rem;
  }
}
.company {
  &__list {
    list-style: none;
  }
  &__item {
    margin-bottom: 1rem;
  }
  &__link {
    text-decoration: none;
    color: $color-secondary-light;
    font-size: 1.4rem;
  }
}
.support {
  &__list {
    list-style: none;
  }
  &__item {
    margin-bottom: 1rem;
  }
  &__link {
    text-decoration: none;
    color: $color-secondary-light;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 800;

    &--paypal {
      background-color: $color-secondary-light;
      color: $color-primary;
      padding: 0.2rem;
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.6);
    }
  }
}
//UTILITIES
.grid {
  display: flex;
  align-items: center;
  padding: 0 7rem;
  margin: 0 auto;

  margin-bottom: $margin-medium;
  justify-content: space-between;

  &--customer {
    padding: 0 !important;
  }
  &--started {
    padding: 0;
    padding-bottom: 4rem;
    border-bottom: 1px solid $color-gray-secondary;
  }
}
